<div id="categoryGrid" class="container mx-auto">
  {{- range $index, $categoryData := .Site.Data.tools }}
  <div class="category-section mb-12">
    <h2 class="text-3xl font-semibold mt-12 mb-6 category-title text-gray-800 dark:text-gray-200 border-b-2 border-gray-200 dark:border-gray-700 pb-2">
      {{ $categoryData.category }}
    </h2>
    <div class="hx-grid md:hx-grid-cols-2 lg:hx-grid-cols-3 hx-gap-6 category-grid">
      {{ range $index, $tool := $categoryData.tools }}
      {{- $cardParams := dict "link" $tool.url "title" $tool.name "subtitle" $tool.description -}}
      {{- partial "shortcodes/card.html" $cardParams -}}
      {{ end }}
    </div>
  </div>
  {{ end }}
</div>

<script>
  const searchInput = document.getElementById('categorySearch');
  const categorySections = document.querySelectorAll('.category-section');

  searchInput.addEventListener('input', () => {
    const searchTerm = searchInput.value.toLowerCase();

    categorySections.forEach((section) => {
      const title = section.querySelector('.category-title');
      const grid = section.querySelector('.category-grid');
      const categoryName = title.textContent.toLowerCase();
      let categoryVisible = false;

      if (categoryName.includes(searchTerm)) {
        categoryVisible = true;
      }

      const categoryCards = grid.querySelectorAll('.hextra-card');
      categoryCards.forEach(card => {
        const cardTitle = card.querySelector('.font-semibold').textContent.toLowerCase();
        const cardSubtitle = card.querySelector('.hextra-card-subtitle').textContent.toLowerCase();
        if (cardTitle.includes(searchTerm) || cardSubtitle.includes(searchTerm)) {
          categoryVisible = true;
          card.style.display = 'block';
        } else {
          card.style.display = 'none';
        }
      });

      section.style.display = categoryVisible ? 'block' : 'none';
    });
  });
</script>
